<h1>{{title}}</h1>

<button id="clickme">
    click me
</button>

<script>
    const button = document.getElementById('clickme')
    button.addEventListener('click', () => {
        alert("Hello world")
    })
</script>